In [1]:
#wap to add the element into the set which is entered by user
s=set()
size=int(input("enter the no. of els:"))
for i in range(1,size+1):
    x=input("enter the value to be added in the set")
    s.add(x)
print(s)

enter the no. of els:5
enter the value to be added in the seta
enter the value to be added in the setb
enter the value to be added in the setc
enter the value to be added in the setd
enter the value to be added in the sete
{'d', 'a', 'e', 'b', 'c'}

In [2]:
#Q1.wap to add all the els in the set from 2002 to 2100 whose all digits are even
s=set()
sum=0
for i in range(2002,2101):
    if i%2==0:
        #print(i)
        s.add(i)
        sum+=i
print(s)

{2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046}

In [3]:
l1=["JAI KUMAR SINGH"]
l2=["NITISH SINGH KATARIA"]
#OUTPUT---first=[JAI,NITISH]
#---middle=[KUMAR,SINGH]
#---last=["SINGH",KATARIA]
#print(type(l1))
lf=[]
lm=[]
ll=[]
for i in l1:
    #print(l1[0])
    x=l1[0]
    #print(type(x))
    x1=x.split(" ")
    #print(x1[0])
    lf.append(x1[0])
    lm.append(x1[1])
    ll.append(x1[2])
for i in l2:
    y=l2[0]
    y1=y.split(" ")
    lf.append(y1[0])
    lm.append(y1[1])
    ll.append(y1[2])
print(lf)
print(lm)
print(ll)

['JAI', 'NITISH']
['KUMAR', 'SINGH']
['SINGH', 'KATARIA']